/*/////////////////////////////////////////////About Page///////////////////////////////////////////////////////*/
#history img {
	padding-top: 30px;
	padding-bottom: 45px;
	display: block;
    margin: 0 auto;
}

#history h1 {
	text-align: center;
	font-family: 'Raleway', sans-serif;
	margin: 0px 65px;
}

#history p {
	margin: 0px 200px 30px 200px;
	padding-bottom: 25px;
	font-family: 'Varela Round', sans-serif;	font-weight: 400;
}

.styleBorderBox {
	display: block;
	margin: 0 auto;
	margin-top: 50px;
	width: 375px;
	border-bottom: 2px solid brown;
	margin-bottom: 25px;
}

#mission img {
	padding-top: 20px;
	/*padding-bottom: 50px;*/
	display: block;
    margin: 0 auto;
}

#mission p {
	font-family: 'Libre Baskerville', serif;
	font-size: 18px;
	margin: 0px 170px 50px 170px;
}


/*/////////////////////////////////////////////Job Listings///////////////////////////////////////////////////////*/

#listings h1 {
	text-align: center;
}

#listings img {
	display: block;
    margin: 0 auto;
}

#listings p {
	text-align: center;
}

#listings ul li {
	text-align: center;
	list-style: none;
	padding: 10px;
}