/************************Employee Page*********************/
* {
	list-style: none;
}

.employeeDiv {
	width: 100%;
	clear: both;
}

.employeeDiv div {
	display: inline-block;
	float: left;
	border: 1px solid black;
	height: 150px;
}

.firstColumn {
	width: 150px;
	margin-top: 15px;
	margin-left: 15px;
}

.secondColumn {
	width: 300px;
	margin-top: 15px;
}

.employeeDiv li {
	width: 100%;
}

.secondColumn li {
	margin-left: 15px;
}

.employeePic img {
	width: 100%; ;
	margin: 0;
}

.employeeName h2 {
	margin: 15px 0;
}

.employeeTitle h3 {
	margin: 15px 0;
}

.employeePhone p,
.employeeEmail p {
	margin: 10px 0;
}

#history img {
	padding-top: 30px;
	padding-bottom: 45px;
	display: block;
    margin: 0 auto;
}

#history h1 {
	text-align: center;
	font-family: 'Raleway', sans-serif;
	margin: 0px 65px;
}

#history p {
	margin: 0px 200px 30px 200px;
	padding-bottom: 25px;
	font-family: 'Varela Round', sans-serif;	font-weight: 400;
}

.styleBorderBox {
	display: block;
	margin: 0 auto;
	margin-top: 50px;
	width: 375px;
	border-bottom: 2px solid brown;
	margin-bottom: 25px;
}

#mission img {
	padding-top: 20px;
	/*padding-bottom: 50px;*/
	display: block;
    margin: 0 auto;
}

#mission p {
	font-family: 'Libre Baskerville', serif;
	font-size: 18px;
	margin: 0px 170px 50px 170px;
}

