.headerOne {
	text-align: center;
	display: ;
}

.social-icon {
	width: 25px;
	height: 25px;
	margin: 15 15;
	float: right;
}

nav {
	text-align: right;
}

.logo {
	text-align: left;
}

ul {
	list-style-type: none;
}

li {
	list-style-type: none;
	display: inline;
}

